body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

main{
    width: 50%;
    margin: auto;
    
}

main > :nth-child(1){
    background-color: red;
}

main > :nth-child(1) > div{
    background-color: blue;
}
